<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Treatments</title>
</head>
<body>
    <h1>List of All Treatments Available</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Price</th>
        </tr>
        </thead>
        <tr th:each="t : ${treatments}">
            <td th:text="${t.name}"></td>
            <td th:text="${t.description}"></td>
            <td th:text="${t.durationInMin}"></td>
            <td th:text="${t.price}"></td>
        </tr>
        </table>
</body>
</html>